@import url('./video.css');
@import url('./filters.css');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #040404;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

button, 
.filter-btn,
.capture-btn {
    -webkit-tap-highlight-color: transparent;
    outline: none;
    -webkit-touch-callout: none;
}